<ion-header>
  <ion-toolbar>
    <ion-title>massage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- Animated Searchbar -->
    <ion-searchbar animated></ion-searchbar>
  </ion-row>



  <ion-item *ngFor="let u of Chatuser" [routerLink]="['/seller/seller/message' ,u.descination]">
    <ion-avatar slot="start">
      <img src="data:image/jpg;base64,{{u.des_profile_pic}}">
    </ion-avatar>
    <ion-label>{{u.des_fname}} {{u.des_lname}}</ion-label>
  </ion-item>
</ion-content>




<!-- 
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->