<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>


    <ion-avatar style="width: 130px; height: auto;" class="center">
      <img src="data:image/png;base64,{{profile_pic}}">
    </ion-avatar>


  </ion-row>


  <ion-item>
    <ion-button fill="outline" [routerLink]="['/seller/seller/edit_profile']" routerLinkActive="router-link-active"
      class="center">แก้ไขข้อมูลส่วนตัว</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>
      e-mail : {{email_id}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      ชื่อ : {{fname}} {{lname}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      id line : {{id_line}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      facebook : {{facebook}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      phone : {{phone}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      pro_limit : {{pro_limit}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-text>
      <p>รายละเอียด : {{cus_detail}}</p>
    </ion-text>
  </ion-item>

</ion-content>