<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="center">
      <img src="data:image/jpg;base64,{{profile_pic}}">
    </ion-avatar>
    <ion-title>{{fname}} {{lname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngFor="let row of chat">

    <ion-chip outline color="success" *ngIf="row.source != My">
      <ion-label>{{row.mes_text}}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="row.source == My">
      <ion-label>{{row.mes_text}}</ion-label>
    </ion-chip>
  </ion-row>



</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" [formControl]="taxtChat" placeholder="พิมพ์ข้อความ" name="message"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="paper-plane" (click)="postTaxtChat()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>