<ion-header>
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-label>ประเภทอสังหาริมทรัพย์</ion-label>
      <ion-select [(ngModel)]="type_id" FormControl="type_id" (ngModelChange)="onGetHouse($event)">
        <ion-select-option value="1">บ้านเดี่ยว</ion-select-option>
        <ion-select-option value="2">ทาวน์เฮาส์</ion-select-option>
        <ion-select-option value="3">อพาร์ทเมนท์</ion-select-option>
        <ion-select-option value="4">อาคารพาณิชย์</ion-select-option>
        <ion-select-option value="5">คอนโดมิเนียม</ion-select-option>
        <ion-select-option value="6">ที่ดิน</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [style.height.px]="height" [latitude]="lat2" [longitude]="lng2">
    <agm-marker *ngFor="let m of markers;" [latitude]="m.latitude" [longitude]="m.longtitude">

      <agm-info-window>
        <h5><strong>{{m.type_name}} </strong></h5>

        <p>{{m.pro_head}}</p>
        <p>{{m.price | number :'3.2-5'}} บาท</p>
        <ion-button size="small" [routerLink]="['/seller/seller/prodetail' ,m.pro_id]">รายละเอียด</ion-button>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</ion-content>